*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
